<html>

<head>
<link rel="stylesheet" href="/static/css/pocketgrid.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">

<title>ERROR in Awiki</title>
</head>
<body>
<div id="container">
<div id="error_traceback">
Error during running pagetools.loadpage:<br>
<div id="error_traceback_details">
{{type}}:{{msg}}
</div>
</div>
<div id="cleanup">
{%if cleanup%}
<div id="cleanup-success">
Cleaned up this(these) page(s):<span id="cleanup-pages">{{','.join(cleanup)}}</span>
</div>
{%else%}
<div id="cleanup-fail">Cleanup Failed</div>
{%endif%}
</div>
</div>
</div>
</div>
</body>
</html>
