<html>
<head>
<title>Search</title>
</head>
<body>
<form action="/search/" method="POST">
<p><label for="query">Search query:<input name="query"></p>
<label for="fields">Fields:</label>
<select name="fields">
              <option value="all" selected="selected">All fields</option>
              <option value="title">Title</option>
              <option value="author">Author</option>
              <option value="abstract">Abstract</option>
              <option value="comments">Comments</option>
              <option value="journal_ref">Journal reference</option>
              <option value="acm_class">ACM classification</option>
              <option value="msc_class">MSC classification</option>
              <option value="report_num">Report number</option>
              <option value="paper_id">arXiv identifier</option>
              <option value="doi">DOI</option>
              <option value="orcid">ORCID</option>
              <option value="author_id">arXiv author ID</option>
              <option value="help">Help pages</option>
              <option value="full_text">Full text</option>
</select>
<input type="submit"/>
</form>
<ol>
{%for result in results%}
<li>
<p><a href="/arxiv/{{result[2]}}">{{result[0]}}</a></p>
<p>{{result[1]}}</p>
</li>
{%endfor%}
</ol>
</body>
</html>
