<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   {{meta.title}}
  </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="https://fonts.googleapis.com/css?family=Lato%7COpen+Sans&amp;subset=latin-ext" rel="stylesheet"/>
  <link href="/static/css/pocketgrid.min.css" rel="stylesheet"/>
  <link href="/static/css/style.css" rel="stylesheet"/>
  <link href="/static/favicon/favicon.ico" rel="shortcut icon"/>
  <script src="/static/js/jquery.js">
  </script>
  <script src="/static/js/cite.js">
  </script>
  <script type="text/x-mathjax-config">
   MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
  </script>
  <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML" type="text/javascript">
  </script>
  <script type="text/javascript">
   function postForm(){
  form=document.getElementById("form")
  form.submit()
}
  </script>
  <script src="/static/codemirror/codemirror.js">
  </script>
  <link href="/static/codemirror/codemirror.css" rel="stylesheet"/>
  <script src="/static/codemirror/mode/markdown/markdown.js">
  </script>
  <script src="/static/codemirror/dialog.js">
  </script>
  <link href="/static/codemirror/dialog.css" rel="stylesheet"/>
  <script src="/static/codemirror/searchcursor.js">
  </script>
  <script src="/static/codemirror/vim.js">
  </script>
  <script src="https://kit.fontawesome.com/9b484bfb73.js" crossorigin="anonymous"></script>
 </head>
 <link href="/static/codemirror/darcula.css" rel="stylesheet"/>
 <body>
  {% block content %}
{% endblock %}
  <script src="/static/js/cite.js">
  </script>  
  <script src="/static/js/tagedit.js">
  
  </script>
 <script type="text/javascript">
  var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("markdown"),
  {lineWrapping:true,
  theme:"darcula",
  showCursorWhenSelecting: true
  });
document.getElementById("markdown").focus();
 </script>
</body>
</html>
