{% extends "base.html" %}
{% block content %}
<div class="block-group" id="container">
 <div class="header block" id="header">
  <h1>
   {{meta.title}}
  </h1>
 <form action="/my_search/" id="form" method="POST">
	<div class="form-line"><input name="q" value="{{q}}" placeholder="Search" type="text"></div>
	<div class="form-line"><input name="tags" value="{% if tags %}{{tags}}{% endif%}" placeholder="tag1, tag2, ...", type="text"></div>
	<div class="form-line"><input id="search-btn" type="submit" value="Search"></div>
    
</form>
  <h3>All tags</h3>
  <div id="tags-top"> {%for tag in taglist_tags%}<span class="tag"><a class="tag-link" href="/my_search?tags={{tag}}">{{tag}}</a></span>{%endfor%}</div>
 </div>
 <div class="content block" id="content">
  <div id="buttons">
   <div id="buttons-left">
    <a href="/add/">
     Add a page
    </a>
    {%if current not in prohibited%}
    <a href="/remove/{{current}}">
     Remove this page
    </a>
    {%endif%}
    <button id="cite">
     Cite!
    </button>
    <a href="/search/">
     Search ArXiv
    </a>
   </div>
   <div id="buttons-right">
    <a href="/edit/{{current}}">
     Edit
    </a>
    <a href="/makebib/{{current}}.bib">
     BibTeX
    </a>
    <a href="/">
     ⌂
    </a>
   </div>
  </div>
  {{content}}
 </div>
 <hr/>
 <footer id="metadata-footer">
  <h2>
   Metadata
  </h2>
  <div id="metadata-inner">
   {%if "doi" in meta%}
   <p id="metadata-doi">
    DOI:
    <a href="https://doi.org/{{meta.doi}}">
     {{meta.doi}}
    </a>
   </p>
   {%endif%}
	  {%if "arxiv_id" in meta%}
   <p id="metadata-arxiv-id">
    arXiv:
    <a href="https://arxiv.org/abs/{{meta.arxiv_id}}">
     {{meta.arxiv_id}}
    </a>
   </p>
   {%endif%}
	  {%if "arxiv_comment" in meta%}
   <p id="metadata-arxiv-comment">
    arXiv comment:
    <span>
     {{meta.arxiv_comment}}
    </span>
    {%endif%}
	  {%if "published" in meta%}
    <p id="metadata-arxiv-published">
     published:
     <span>
      {{strftime("%d %b %Y",gmtime(meta.published))}}
     </span>
    </p>
    {%endif%}
    <div id="metadata-tags-h"><h3>Tags</h3><span class="fa fa-edit" id="metadata-tags-edit"></span><span class="fa fa-check" style="display:none;" id="metadata-tags-confirm"></span></div>
    <div id="metadata-tags">
    <div id="metadata-tags-tags">
    {%for tag in meta.tags%}
    <span class="tag"><a class="tag-link" href="/my_search?tags={{tag}}">{{tag}}</a><span class="tag-remove" style="display:none;">×</span></span>
    {%endfor%}
    </div>
    <form id="addtag-form" style="display:none;"><input type="text" id="addtag-tag" placeholder="Add a tag..."></form>
    </div>
  </div>
 </footer>
</div>
{% endblock %}
